.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.color {
  color: var(--text-color);
  background-color: var(--primary);
}

.desc-text {
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
