.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.color {
  color: var(--text-color);
  background-color: var(--primary);
}

.desc-text {
  margin: 20px;
}
